In [ ]:
!pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 717.0/717.0 kB 9.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from odfpy) (0.7.1)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py) ... done
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=160671 sha256=f8be510e3a137ef13bd16e53a327a7232e7337253c7d0e5a15a6294bdb14eb22
  Stored in directory: /root/.cache/pip/wheels/c8/2e/95/90d94fe33903786937f3b8c33dd88807f792359c6424b40469
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1

In [ ]:
!pip install --upgrade gspread gspread-dataframe

Requirement already satisfied: gspread in /usr/local/lib/python3.10/dist-packages (6.0.2)
Collecting gspread
  Downloading gspread-6.1.3-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: gspread-dataframe in /usr/local/lib/python3.10/dist-packages (3.3.1)
Collecting gspread-dataframe
  Downloading gspread_dataframe-4.0.0-py2.py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from gspread) (2.27.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from gspread) (1.2.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from gspread-dataframe) (2.2.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from gspread-dataframe) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.12.0->gspread) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.12.0->gspread) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->gspread-dataframe) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2024.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2024.8.30)
Downloading gspread-6.1.3-py3-none-any.whl (57 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.6/57.6 kB 2.4 MB/s eta 0:00:00
Downloading gspread_dataframe-4.0.0-py2.py3-none-any.whl (9.0 kB)
Installing collected packages: gspread, gspread-dataframe
  Attempting uninstall: gspread
    Found existing installation: gspread 6.0.2
    Uninstalling gspread-6.0.2:
      Successfully uninstalled gspread-6.0.2
  Attempting uninstall: gspread-dataframe
    Found existing installation: gspread-dataframe 3.3.1
    Uninstalling gspread-dataframe-3.3.1:
      Successfully uninstalled gspread-dataframe-3.3.1
Successfully installed gspread-6.1.3 gspread-dataframe-4.0.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# Ruta al archivo en Google Drive
file_path = '/content/drive/My Drive/TFM/Databases/DB_food.xlsx'

# Leer el archivo .xlsx utilizando el motor 'openpyxl'
df = pd.read_excel(file_path, engine='openpyxl')

# Ver las primeras filas del DataFrame
df.head()

,_id,Food Group,Subgroup,Type,Food name in English,Kcal (100g),WATER(g),FE(mg),ZN(mg),CA(mg),FoodEx2 CODE,derivates,fructose,fructanes,sacarose,animal,carbohydrates,region
0,1,1.0,1.0,1.0,Rice,130.0,10.70,0.36,1.52,4.55,A001D#F28.A07HS,1.0,NaN,NaN,NaN,NaN,1.0,All
1,2,1.0,1.0,1.0,"Rice, Basmati",121.0,10.00,0.23,1.03,NaN,A001F#F26.A07XE$F28.A07LK,1.0,NaN,NaN,NaN,NaN,1.0,All
2,3,1.0,1.0,1.0,"Rice, brown",111.0,11.50,3.72,2.30,25.31,A001E#F28.A07HS,1.0,NaN,NaN,NaN,NaN,1.0,All
3,4,1.0,1.0,2.0,"Flour, Rice",364.0,12.80,0.52,1.55,4.42,A003F,1.0,NaN,NaN,NaN,NaN,1.0,All
4,5,1.0,1.0,3.0,"Bread, rice",235.0,49.77,NaN,NaN,NaN,A04KZ#F04.A001E$F26.A07XE$F28.A0CQZ,1.0,NaN,1.0,NaN,NaN,1.0,All

In [ ]:
# Filtrar los _id donde el Food Group es 8 y convertir a enteros
ids_food_group_8 = df.loc[df['Food Group'] == 8, '_id'].astype(int)

# Convertir a lista para mostrar
ids_food_group_8_list = ids_food_group_8.tolist()

# Mostrar los resultados
print(ids_food_group_8_list)

[242, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 373, 374, 375, 376]

In [ ]:
# Filtrar los _id donde la columna "Food name in English" contiene la palabra "chocolate"
ids_chocolate = df.loc[df['Food name in English'].str.contains('chocolate', case=False, na=False), '_id'].astype(int)

# Convertir a lista para mostrar
ids_chocolate_list = ids_chocolate.tolist()

# Mostrar los resultados
print(ids_chocolate_list)

[352, 353, 354]

In [ ]:
# Filtrar los _id donde el Food Group es 7 y el Subgroup es 2
ids_group_7_subgroup_2 = df.loc[(df['Food Group'] == 7) & (df['Subgroup'] == 2), '_id'].astype(int)

# Convertir a lista para mostrar
ids_group_7_subgroup_2_list = ids_group_7_subgroup_2.tolist()

# Mostrar los resultados
print(ids_group_7_subgroup_2_list)

[230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240]

In [ ]:
# Filtrar las filas donde la columna 'Food name in English' contiene 'pea' y obtener los _id
ids_pea = df[df['Food name in English'].str.contains('pea', case=False, na=False)]['_id']

# Convertir los _id a una lista
ids_pea_list = ids_pea.tolist()

# Mostrar el resultado
print(ids_pea_list)

[95, 97, 99, 101, 103, 169, 181, 207, 211, 225, 262]

In [ ]:
# Filtrar los _id donde el Food Group es 7 o 8
ids_group_7_or_8 = df.loc[(df['Food Group'] == 7) | (df['Food Group'] == 8), '_id'].astype(int)

# Convertir a lista para mostrar
ids_group_7_or_8_list = ids_group_7_or_8.tolist()

# Mostrar los resultados
print(ids_group_7_or_8_list)

[226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 369, 373, 374, 375, 376]

In [ ]:
# Filtrar las filas que contienen "rice" en la columna "Food name in English", ignorando NaN
filtered_ids = df[df['Food name in English'].notna() & df['Food name in English'].str.contains('rice', case=False)]['_id']

# Convertir los _id a una cadena
ids_string = ', '.join(filtered_ids.astype(str))

# Mostrar el resultado
print(ids_string)

1, 2, 3, 4, 5, 6, 7, 8

In [ ]:
# Obtener el _id de la fila donde "Food name in English" es exactamente "rice"
rice_id = df.loc[df['Food name in English'].str.lower() == 'rice', '_id']

# Comprobar que existe al menos un _id para "rice"
if not rice_id.empty:
    # Asumimos que queremos usar el primer _id encontrado
    rice_id_value = rice_id.iloc[0]

    # Actualizar la columna "derivates" para las filas que contienen "rice"
    df.loc[df['Food name in English'].str.contains('rice', case=False), 'derivates'] = rice_id_value

# Mostrar el DataFrame actualizado
print(df)

NameError: name 'df' is not defined

In [ ]:
# Lista de alimentos a buscar
food_names = ['wheat', 'corn', 'millet', 'oat', 'soybean', 'quinoa', 'barley', 'rye', 'cassava', 'bean', 'pea', 'lentil','potato','banana','bran','Amaranth']

for food_name in food_names:
    # Obtener el _id de la fila donde "Food name in English" es exactamente el nombre del alimento
    food_id = df.loc[df['Food name in English'].str.lower() == food_name, '_id']

    # Comprobar que existe al menos un _id para el alimento
    if not food_id.empty:
        # Usar el primer _id encontrado
        food_id_value = food_id.iloc[0]

        # Actualizar la columna "derivates" para las filas que contienen el nombre del alimento
        df.loc[df['Food name in English'].str.contains(food_name, case=False), 'derivates'] = food_id_value

In [ ]:
# Lista de valores de _id que quieres modificar
ids_to_update = [19, 20, 21, 22, 23, 24, 25, 36, 40, 42, 47, 55, 61]

# Asignar el valor 1 en la columna "gluten" para las filas que tienen el _id en la lista
df.loc[df['_id'].isin(ids_to_update), 'gluten'] = 1

# Mostrar las filas actualizadas para verificar el cambio
print(df[df['_id'].isin(ids_to_update)])

    _id  Food Group  Subgroup  Type Food name in English  \
18   19         1.0       3.0   1.0                Wheat
19   20         1.0       3.0   2.0         Flour, Wheat
20   21         1.0       3.0   3.0   Bread, wheat-based
21   22         1.0       3.0   4.0  Porridge, wheatmeal
22   23         1.0       3.0   5.0  Noodle, wheat-based
23   24         1.0       3.0   5.0         Pasta, wheat
24   25         1.0       3.0   9.0       Cracker, wheat
35   36         1.0       6.0   1.0               Barley
39   40         1.0       6.0   1.0                  Rye
41   42         1.0       6.0   2.0        Flour, barley
46   47         1.0       6.0   2.0           Flour, Rye
54   55         1.0       6.0   4.0         Bran, barley
60   61         1.0       6.0   4.0     Porridge, barley

                           FoodEx2 CODE  derivates  WATER(g)  FE(mg) ZN(mg)  \
18            A001M#F26.A07XE$F28.A07HS       19.0     11.96    3.89   3.81
19                                A003X       19.0     14.50    1.10   1.38
20                                A004X       19.0     31.85    1.01   0.82
21                                A00EV       19.0      9.50     NaN    NaN
22            A007R#F04.A003X$F28.A07KG       19.0     11.70    1.87   0.79
23                                A007M       19.0      7.60     NaN    NaN
24                      A005Y#F04.A003Y       19.0       NaN     NaN    NaN
35  A000P#F26.A07XE$F28.A07HS$F10.A06HR       36.0      9.80     NaN   2.62
39                      A001K#F28.A07HS       40.0     11.49     NaN    NaN
41            A002L#F28.A07GY$F10.A06HR       36.0     11.10    2.49    NaN
46                                A003J       40.0       NaN     NaN    NaN
54                      A0BBJ#F28.A07HS       36.0     14.00     NaN    NaN
60                                A00EX       36.0      9.58     NaN    NaN

    CA(mg)  Kcal (100g)  gluten  lactose  fructose  fructanes  sacarose  \
18   48.69          NaN     1.0      NaN       NaN        NaN       NaN
19   13.08          NaN     1.0      NaN       NaN        NaN       NaN
20   17.65          NaN     1.0      NaN       NaN        NaN       NaN
21     NaN          NaN     1.0      NaN       NaN        NaN       NaN
22   27.73          NaN     1.0      NaN       NaN        NaN       NaN
23     NaN          NaN     1.0      NaN       NaN        NaN       NaN
24     NaN          NaN     1.0      NaN       NaN        NaN       NaN
35   44.20          NaN     1.0      NaN       NaN        NaN       NaN
39     NaN          NaN     1.0      NaN       NaN        NaN       NaN
41   19.56          NaN     1.0      NaN       NaN        NaN       NaN
46     NaN          NaN     1.0      NaN       NaN        NaN       NaN
54     NaN          NaN     1.0      NaN       NaN        NaN       NaN
60     NaN          NaN     1.0      NaN       NaN        NaN       NaN

    animal  carbohydrates region
18     NaN            NaN    All
19     NaN            NaN    All
20     NaN            NaN    All
21     NaN            NaN    All
22     NaN            NaN    All
23     NaN            NaN    All
24     NaN            NaN    All
35     NaN            NaN    All
39     NaN            NaN    All
41     NaN            NaN    All
46     NaN            NaN    All
54     NaN            NaN    All
60     NaN            NaN    All

In [ ]:
# Lista de valores de _id que quieres modificar
ids_to_update = [238, 239, 253, 262, 263, 264, 266, 267, 268, 369, 374, 375, 376]

# Asignar el valor 1 en la columna "lactose" para las filas que tienen el _id en la lista
df.loc[df['_id'].isin(ids_to_update), 'lactose'] = 1

# Mostrar las filas actualizadas para verificar el cambio
print(df[df['_id'].isin(ids_to_update)])

     _id  Food Group  Subgroup  Type Food name in English     FoodEx2 CODE  \
237  238         7.0       2.0   9.0           Mortadella  Z0007.0002.0007
238  239         7.0       2.0   9.0         Pork sausage  Z0007.0002.0002
252  253         8.0       1.0   1.0      Camembert (cow)  Z0009.0001.0003
261  262         9.0       1.0   1.0    European Sea Bass  Z0012.0001.0010
262  263         9.0       1.0   1.0              Haddock  Z0012.0001.0002
263  264         9.0       1.0   1.0              Halibut  Z0012.0001.0004
265  266         9.0       1.0   1.0                 Sole  Z0012.0001.0003
266  267         9.0       1.0   1.0               Turbot  Z0012.0001.0006
267  268         9.0       2.0   1.0              Anchovy  Z0012.0002.0006
368  369         7.0       1.0   7.0               Yogurt              NaN
373  374         NaN       NaN   NaN            Roquefort              NaN
374  375         NaN       NaN   NaN           Mascarpone              NaN
375  376         NaN       NaN   NaN             Emmental              NaN

     derivates  WATER(g)  FE(mg) ZN(mg)  CA(mg)  Kcal (100g)  gluten  lactose  \
237        NaN      50.0     1.3    2.0     7.0          NaN     NaN      1.0
238        NaN      63.0     1.0    2.2    14.0          NaN     NaN      1.0
252        NaN      51.0     0.3    2.4   350.0          NaN     NaN      1.0
261       99.0      77.5     1.0    0.9    12.0          NaN     NaN      1.0
262        NaN      81.0     0.3    0.5    20.0          NaN     NaN      1.0
263        NaN      77.5     0.4    0.7    23.0          NaN     NaN      1.0
265        NaN      79.5     0.5    0.6    25.0          NaN     NaN      1.0
266        NaN      78.0     0.4    0.8    30.0          NaN     NaN      1.0
267        NaN      74.0     3.0    1.4   130.0          NaN     NaN      1.0
368        NaN       NaN     NaN    NaN     NaN          NaN     NaN      1.0
373        NaN       NaN     NaN    NaN     NaN          NaN     NaN      1.0
374        NaN       NaN     NaN    NaN     NaN          NaN     NaN      1.0
375        NaN       NaN     NaN    NaN     NaN          NaN     NaN      1.0

     fructose  fructanes  sacarose  animal  carbohydrates region
237       NaN        NaN       NaN     NaN            NaN    All
238       NaN        NaN       NaN     NaN            NaN    All
252       NaN        NaN       NaN     NaN            NaN    All
261       NaN        NaN       NaN     NaN            NaN    All
262       NaN        NaN       NaN     NaN            NaN    All
263       NaN        NaN       NaN     NaN            NaN    All
265       NaN        NaN       NaN     NaN            NaN    All
266       NaN        NaN       NaN     NaN            NaN    All
267       NaN        NaN       NaN     NaN            NaN    All
368       NaN        NaN       NaN     NaN            NaN    NaN
373       NaN        NaN       NaN     NaN            NaN    NaN
374       NaN        NaN       NaN     NaN            NaN    NaN
375       NaN        NaN       NaN     NaN            NaN    NaN

In [ ]:
# Diccionario que mapea _id a los valores de fructosa
fructose_map = {
    1: [115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 131, 141, 142, 146, 147, 148, 151, 216, 370, 371, 372, 373, 378],
    2: [132, 133, 134, 135, 139, 149, 150, 156, 157, 167, 183, 380, 381],
    3: [166, 171, 177, 180, 181, 182, 190, 193, 196, 204, 208, 210, 211, 213, 214],
    4: [162, 163, 165, 169, 170, 172, 187, 188, 189, 191, 194, 195, 197, 198, 199, 201, 202, 203, 212, 215, 217]
}

# Asignar el valor de fructosa basado en el _id
for fructose_value, ids in fructose_map.items():
    df.loc[df['_id'].isin(ids), 'fructose'] = fructose_value

# Mostrar las filas actualizadas para verificar el cambio
print(df[df['_id'].isin([id for sublist in fructose_map.values() for id in sublist])])

     _id  Food Group  Subgroup  Type Food name in English     FoodEx2 CODE  \
114  115         4.0       1.0   1.0               Baobab  A00ZQ#F27.A0F6J
115  116         4.0       1.0   1.0     Brussels sprouts  A00FV#F28.A07HS
116  117         4.0       1.0   1.0              Cabbage  A00GA#F28.A07HS
117  118         4.0       1.0   1.0          Cauliflower  A00FR#F28.A07HS
118  119         4.0       1.0   1.0              Collard  A00GR#F28.A07HB
..   ...         ...       ...   ...                  ...              ...
371  372         NaN       NaN   NaN            Artichoke              NaN
372  373         NaN       NaN   NaN             Broccoli              NaN
377  378         NaN       NaN   NaN                Lemon              NaN
379  380         NaN       NaN   NaN           Clementine              NaN
380  381         NaN       NaN   NaN            Nectarine              NaN

     derivates  WATER(g)  FE(mg) ZN(mg)  CA(mg)  Kcal (100g)  gluten  lactose  \
114        NaN     76.00     NaN   1.00  319.00          NaN     NaN      NaN
115        NaN     84.39    1.54   0.57   53.99          NaN     NaN      NaN
116        NaN     91.94    0.24   0.13   48.00          NaN     NaN      NaN
117        NaN     90.76    0.96   0.31   25.16          NaN     NaN      NaN
118        NaN       NaN     NaN    NaN     NaN          NaN     NaN      NaN
..         ...       ...     ...    ...     ...          ...     ...      ...
371        NaN       NaN     NaN    NaN     NaN          NaN     NaN      NaN
372        NaN       NaN     NaN    NaN     NaN          NaN     NaN      NaN
377        NaN       NaN     NaN    NaN     NaN          NaN     NaN      NaN
379        NaN       NaN     NaN    NaN     NaN          NaN     NaN      NaN
380        NaN       NaN     NaN    NaN     NaN          NaN     NaN      NaN

     fructose  fructanes  sacarose  animal  carbohydrates region
114       1.0        NaN       NaN     NaN            NaN    All
115       1.0        NaN       NaN     NaN            NaN    All
116       1.0        NaN       NaN     NaN            NaN    All
117       1.0        NaN       NaN     NaN            NaN    All
118       1.0        NaN       NaN     NaN            NaN    All
..        ...        ...       ...     ...            ...    ...
371       1.0        NaN       NaN     NaN            NaN    NaN
372       1.0        NaN       NaN     NaN            NaN    NaN
377       1.0        NaN       NaN     NaN            NaN    NaN
379       2.0        NaN       NaN     NaN            NaN    NaN
380       2.0        NaN       NaN     NaN            NaN    NaN

[76 rows x 20 columns]

In [ ]:
# Lista de _id para los cuales se asignará el valor 1 en la columna "fructanes"
ids_to_update = [5, 19, 36, 38, 40, 43, 65, 86, 88, 89, 90, 91, 92, 93, 99, 110, 111, 116, 118, 121, 122, 123,
                 141, 149, 173, 174, 205, 210, 214, 217, 220, 222, 225, 226, 231, 383, 387, 397, 401,
                 423, 431, 432, 446, 447, 449, 453, 462, 469, 482, 490, 497, 498, 499]

# Asignar el valor 1 en la columna "fructanes" para las filas que tienen el _id en la lista
df.loc[df['_id'].isin(ids_to_update), 'fructanes'] = 1

# Mostrar las filas actualizadas para verificar el cambio
print(df[df['_id'].isin(ids_to_update)])

     _id  Food Group  Subgroup  Type Food name in English  \
4      5         1.0       1.0   3.0          Bread, rice
18    19         1.0       3.0   1.0                Wheat
35    36         1.0       6.0   1.0               Barley
37    38         1.0       6.0   1.0                  Oat
39    40         1.0       6.0   1.0                  Rye
42    43         1.0       6.0   2.0     Flour, buckwheat
64    65         1.0       6.0   7.0            Milk, Oat
85    86         3.0       1.0   1.0          Bean, black
87    88         3.0       1.0   1.0         Bean, butter
88    89         3.0       1.0   1.0          Bean, green
89    90         3.0       1.0   1.0           Bean, pink
90    91         3.0       1.0   1.0          Bean, pinto
91    92         3.0       1.0   1.0          Bean, pinto
92    93         3.0       1.0   1.0          Bean, White
98    99         3.0       1.0   1.0                  Pea
109  110         3.0       2.0   2.0       Flour, Soybean
110  111         3.0       2.0   7.0            Milk, soy
115  116         4.0       1.0   1.0     Brussels sprouts
117  118         4.0       1.0   1.0          Cauliflower
120  121         4.0       1.0   1.0               Fennel
121  122         4.0       1.0   1.0                 Kale
122  123         4.0       1.0   1.0                 Leek
140  141         4.0       3.0   1.0             Cucumber
148  149         4.0       3.0   1.0                Onion
172  173         6.0       1.0   1.0           Brazil nut
173  174         6.0       1.0   1.0           Cashew nut
204  205         5.0       2.0   1.0         Olive, black
209  210         5.0       2.0   1.0          Pomegranate
213  214         5.0       2.0   1.0           Watermelon
216  217         5.0       3.0   1.0                Dates
219  220         6.0       1.0   1.0            Pistachio
221  222         6.0       1.0   1.0        Sesame, black
224  225         6.0       1.0   9.0        Peanut butter
225  226         7.0       1.0   1.0              Chicken
230  231         7.0       2.0   9.0       Beef hamburger
382  383         NaN       NaN   NaN             Persimon

                            FoodEx2 CODE  derivates  WATER(g)  FE(mg) ZN(mg)  \
4    A04KZ#F04.A001E$F26.A07XE$F28.A0CQZ        1.0     49.77     NaN    NaN
18             A001M#F26.A07XE$F28.A07HS       19.0     11.96    3.89   3.81
35   A000P#F26.A07XE$F28.A07HS$F10.A06HR       36.0      9.80     NaN   2.62
37                       A000G#F28.A07HS       38.0     10.60     NaN    NaN
39                       A001K#F28.A07HS       40.0     11.49     NaN    NaN
42                                 A002G       19.0     12.60    2.49   1.64
64                       A0DYP#F28.A07HS       38.0      4.37    4.59   3.50
85                       A012E#F28.A07HS        NaN      3.00    2.63   3.23
87                       A013A#F28.A07HS        NaN      2.00    1.95   3.40
88   A013C#F10.A0F2Q$F26.A07XE$F28.A07HS        NaN     10.10     NaN    NaN
89             A012S#F10.A0F2P$F28.A07HS        NaN      3.00    1.99   2.95
90             A012T#F26.A07XE$F28.A07HS        NaN      3.00    1.91   2.55
91             A012T#F26.A07XE$F28.A07HS        NaN      3.00    1.91   2.55
92             A012S#F10.A0F2R$F28.A07HS        NaN     11.40     NaN   2.62
98                       A013J#F28.A07KL       99.0     11.70    4.80   3.49
109                      A0DCH#F28.A0C0A      108.0      8.00     NaN   4.66
110                      A0ETZ#F01.A05HX        NaN      8.00    6.13   3.50
115                      A00FV#F28.A07HS        NaN     84.39    1.54   0.57
117                      A00FR#F28.A07HS        NaN     90.76    0.96   0.31
120                                A12C3        NaN      8.00    0.70    0.2
121  A00GL#F04.A042Z$F26.A07XE$F28.A0BA1        NaN     83.60    6.70   0.59
122                                A12A2        NaN     83.00    2.10    0.2
140            A00JM#F28.A07HS$F10.A0F2Q        NaN     93.52    0.59   0.19
148                      A0DND#F28.A07HS        NaN     85.76    0.43   0.35
172                      A014G#F28.A07HS        NaN      3.07     NaN    NaN
173                      A014H#F28.A07HS        NaN      4.44    5.95   5.34
204                      A0DRX#F28.A07HS        NaN      5.77     NaN    NaN
209            A01LH#F28.A07HS$F26.A07XE        NaN     83.55    0.31   0.18
213            A00KJ#F10.A07XL$F28.A07HS        NaN     94.20    0.40   0.15
216                     A01MF#$F10.A0F5K        NaN     11.14    3.20   0.70
219                      A014Q#F28.A07HS        NaN      4.68    4.50   2.42
221  A015K#F10.A166Z$F28.A07LA$F28.A07HS        NaN      4.00    1.67   0.84
224                                A01BN       99.0       NaN     NaN   2.90
225                      Z0007.0001.0001        NaN     74.60    0.90    1.0
230                      Z0007.0003.0002        NaN     45.00    3.00    3.8
382                                  NaN        NaN       NaN     NaN    NaN

     CA(mg)  Kcal (100g)  gluten  lactose  fructose  fructanes  sacarose  \
4       NaN          NaN     NaN      NaN       NaN        1.0       NaN
18    48.69          NaN     1.0      NaN       NaN        1.0       NaN
35    44.20          NaN     1.0      NaN       NaN        1.0       NaN
37      NaN          NaN     NaN      NaN       NaN        1.0       NaN
39      NaN          NaN     1.0      NaN       NaN        1.0       NaN
42    12.95          NaN     NaN      NaN       NaN        1.0       NaN
64   228.00          NaN     NaN      NaN       NaN        1.0       NaN
85    48.69          NaN     NaN      NaN       NaN        1.0       NaN
87    58.90          NaN     NaN      NaN       NaN        1.0       NaN
88      NaN          NaN     NaN      NaN       NaN        1.0       NaN
89    46.56          NaN     NaN      NaN       NaN        1.0       NaN
90    50.05          NaN     NaN      NaN       NaN        1.0       NaN
91    50.05          NaN     NaN      NaN       NaN        1.0       NaN
92      NaN          NaN     NaN      NaN       NaN        1.0       NaN
98    75.00          NaN     NaN      NaN       NaN        1.0       NaN
109     NaN          NaN     NaN      NaN       NaN        1.0       NaN
110  223.09          NaN     NaN      NaN       NaN        1.0       NaN
115   53.99          NaN     NaN      NaN       1.0        1.0       NaN
117   25.16          NaN     NaN      NaN       1.0        1.0       NaN
120   49.00          NaN     NaN      NaN       1.0        1.0       NaN
121  185.70          NaN     NaN      NaN       1.0        1.0       NaN
122   59.00          NaN     NaN      NaN       1.0        1.0       NaN
140   19.25          NaN     NaN      NaN       1.0        1.0       NaN
148   21.03          NaN     NaN      NaN       2.0        1.0       NaN
172     NaN          NaN     NaN      NaN       NaN        1.0       NaN
173   34.00          NaN     NaN      NaN       NaN        1.0       NaN
204     NaN          NaN     NaN      NaN       NaN        1.0       NaN
209   10.65          NaN     NaN      NaN       3.0        1.0       NaN
213   12.00          NaN     NaN      NaN       3.0        1.0       NaN
216   71.20          NaN     NaN      NaN       4.0        1.0       NaN
219  135.00          NaN     NaN      NaN       NaN        1.0       NaN
221  327.74          NaN     NaN      NaN       NaN        1.0       NaN
224     NaN          NaN     NaN      NaN       NaN        1.0       NaN
225   12.00          NaN     NaN      NaN       NaN        1.0       NaN
230   25.00          NaN     NaN      NaN       NaN        1.0       NaN
382     NaN          NaN     NaN      NaN       NaN        1.0       NaN

     animal  carbohydrates region
4       NaN            NaN    All
18      NaN            NaN    All
35      NaN            NaN    All
37      NaN            NaN    All
39      NaN            NaN    All
42      NaN            NaN    All
64      NaN            NaN    All
85      NaN            NaN    All
87      NaN            NaN    All
88      NaN            NaN    All
89      NaN            NaN    All
90      NaN            NaN    All
91      NaN            NaN    All
92      NaN            NaN    All
98      NaN            NaN    All
109     NaN            NaN    All
110     NaN            NaN    All
115     NaN            NaN    All
117     NaN            NaN    All
120     NaN            NaN    All
121     NaN            NaN    All
122     NaN            NaN    All
140     NaN            NaN    All
148     NaN            NaN    All
172     NaN            NaN    All
173     NaN            NaN    All
204     NaN            NaN    All
209     NaN            NaN    All
213     NaN            NaN    All
216     NaN            NaN    All
219     NaN            NaN    All
221     NaN            NaN    All
224     NaN            NaN    All
225     NaN            NaN    All
230     NaN            NaN    All
382     NaN            NaN    NaN

In [ ]:
# Lista de _id para los cuales se asignará el valor 1 en la columna "carbohydrates"
ids_to_update = [
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
    21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
    38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 68, 69, 70, 71, 72, 73,
    74, 75, 76, 77, 84, 91, 96, 98, 99, 100, 101, 104, 105, 162, 170, 213,
    214, 215, 217
]

# Asignar el valor 1 en la columna "carbohydrates" para las filas que tienen el _id en la lista
df.loc[df['_id'].isin(ids_to_update), 'carbohydrates'] = 1

# Mostrar las filas actualizadas para verificar el cambio
print(df[df['_id'].isin(ids_to_update)])

     _id  Food Group  Subgroup  Type Food name in English  \
0      1         1.0       1.0   1.0                 Rice
1      2         1.0       1.0   1.0        Rice, Basmati
2      3         1.0       1.0   1.0          Rice, brown
3      4         1.0       1.0   2.0          Flour, Rice
4      5         1.0       1.0   3.0          Bread, rice
..   ...         ...       ...   ...                  ...
169  170         5.0       3.0   1.0             Plantain
212  213         5.0       2.0   1.0           Strawberry
213  214         5.0       2.0   1.0           Watermelon
214  215         5.0       3.0   1.0              Apricot
216  217         5.0       3.0   1.0                Dates

                            FoodEx2 CODE  derivates  WATER(g)  FE(mg) ZN(mg)  \
0                        A001D#F28.A07HS        1.0     10.70    0.36   1.52
1              A001F#F26.A07XE$F28.A07LK        1.0     10.00    0.23   1.03
2                        A001E#F28.A07HS        1.0     11.50    3.72   2.30
3                                  A003F        1.0     12.80    0.52   1.55
4    A04KZ#F04.A001E$F26.A07XE$F28.A0CQZ        1.0     49.77     NaN    NaN
..                                   ...        ...       ...     ...    ...
169                      A00RR#F28.A07HS        NaN     87.53    0.26   0.14
212                      A01EA#F28.A07HS        NaN     92.03    0.36   0.14
213            A00KJ#F10.A07XL$F28.A07HS        NaN     94.20    0.40   0.15
214                                A01MD        NaN     16.68    2.50   0.41
216                     A01MF#$F10.A0F5K        NaN     11.14    3.20   0.70

     CA(mg)  Kcal (100g)  gluten  lactose  fructose  fructanes  sacarose  \
0      4.55          NaN     NaN      NaN       NaN        NaN       NaN
1       NaN          NaN     NaN      NaN       NaN        NaN       NaN
2     25.31          NaN     NaN      NaN       NaN        NaN       NaN
3      4.42          NaN     NaN      NaN       NaN        NaN       NaN
4       NaN          NaN     NaN      NaN       NaN        1.0       NaN
..      ...          ...     ...      ...       ...        ...       ...
169   11.24          NaN     NaN      NaN       4.0        NaN       NaN
212   15.28          NaN     NaN      NaN       3.0        NaN       NaN
213   12.00          NaN     NaN      NaN       3.0        1.0       NaN
214   28.57          NaN     NaN      NaN       4.0        NaN       NaN
216   71.20          NaN     NaN      NaN       4.0        1.0       NaN

     animal  carbohydrates region
0       NaN            1.0    All
1       NaN            1.0    All
2       NaN            1.0    All
3       NaN            1.0    All
4       NaN            1.0    All
..      ...            ...    ...
169     NaN            1.0    All
212     NaN            1.0    All
213     NaN            1.0    All
214     NaN            1.0    All
216     NaN            1.0    All

[73 rows x 20 columns]

In [ ]:
# Guardar el DataFrame actualizado como un archivo CSV
output_file = '/content/drive/My Drive/TFM/Databases/DB_food_updated.csv'
df.to_csv(output_file, index=False)

# Comando para descargar el archivo
from google.colab import files
files.download(output_file)

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
import gspread
from gspread_dataframe import set_with_dataframe